<form method="post" action="{{ path('app_skill_delete', {'id': skill.id}) }}" onsubmit="return confirm('Etes vous sur de vouloir supprimer cette compétence?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ skill.id) }}">
    <button class="btnAction">Supprimer</button>
</form>
