{% extends 'base.html.twig' %}

{% block title %}Newcréation compétence{% endblock %}

{% block body %}
    <div class="formulaire">    
        <div class="bgForm">   
            <h1 class="titre">Nouvelle compétence</h1>  
            {{ include('skill/_form.html.twig') }}
        </div>
    </div>
{% endblock %}
