<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap" >
        <link rel="stylesheet" href="{{asset('./styles/app.css')}}">
        <link rel="stylesheet" href="{{asset('./styles/header.css')}}">
        <title>{% block title %}skillshare{% endblock %}</title>
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        {% block header %}
            {% include 'partials/header.html.twig' %}
        {% endblock %}
        
        {% block body %}{% endblock %}

        {% include 'partials/footer.html.twig' %}
    </body>
</html>
